body {
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #FFFFFF;
    margin: 20px 20px 0px 20px;
}

h1 {
    font-size: 42px;
    text-align: center;
    padding: 15px;
}

h2 {
    font-size: 30px;
    color: #0d0d0d;
}

p {
    font-size: 24px;
    padding: 10px 0px 0px 10px;
}

img {
    width: 250px;
    border: 10px dashed #FFFFFF;
    display: block;
    margin: auto;
}

div {
    min-height: 125px;
    padding: 20px;
    border: 3px solid #FFFFFF;
}

.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 200%
}

.red {
    background-color: #F00;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid;
    border-left: 5px solid;
}

.blue {
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid;
    border-top: 2px solid;
}

.blue h2{
    color: #C4C4C4;
}

.blue p{
    color: #C4C4C4;
}

.yellow {
    background-color: #FFFF00;
    text-align: right;
    margin: 50px;
    border-bottom: 2px solid;
    border-left: 5px
}

.green {
    background-color: #00EB00;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid;
    border-top: 2px solid;
}

footer {
    background: linear-gradient(#000000, #0000FF 25%, #0066FF 70%, #000000);
    border: 5px solid #FFFFFF;
}

footer p{
    text-align: right;
    font-size: 20px;
    padding: 15px 15px 15px 0px;
}
